<!DOCTYPE html>
<html>
<head>
    <title>Study Material Chatbot</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="main-container">

    <header>
        <img src="/static/logo.png" class="logo">
        <h2>Study Buddy AI Chatbot</h2>
        <p class="subtitle">Upload your programming study notes & ask anything 👨‍💻📘</p>
    </header>

    <div class="upload-box">
        <form action="/upload" method="POST" enctype="multipart/form-data">
            <label class="upload-label">Upload PDFs (Multiple Supported)</label>
            <input type="file" name="pdfs" multiple class="file-input">
            <button type="submit" class="upload-btn">Upload Study Material</button>
        </form>
    </div>

    <div class="chat-container">
        <div id="answerBox"></div>

        <div class="chat-actions">
    <form onsubmit="ask(event)" class="chat-form">
        <input id="question" type="text" placeholder="Ask your question here..." class="chat-input">
        <button type="submit" class="ask-btn">Ask</button>
    </form>

    <button onclick="clearChat()" class="clear-btn">Clear Chat</button>
</div>

    </div>

</div>


<script>
    async function ask(ev) {
        ev.preventDefault();
        let q = document.getElementById("question").value;
        let form = new FormData();
        form.append("question", q);

        let res = await fetch("/ask", { method: "POST", body: form });
        let ans = await res.text();

        let box = document.getElementById("answerBox");

        box.innerHTML += `
            <div class="bubble user-msg">${q}</div>
            <div class="bubble bot-msg">${ans}</div>
        `;

        document.getElementById("question").value = "";
        box.scrollTop = box.scrollHeight;
    }
    function clearChat() {
    document.getElementById("answerBox").innerHTML = "";
}

</script>

</body>
</html>
